.g-header{
  width:100%;
  height:50px;
  padding:5px 15px;
  background-color:#21cdb2;
}

.g-content{

}

.g-ft{
  width:100%;
  height:50px;
  padding:5px 15px;
  background-color:#21cdb2;
}

@media (max-width: 768px)
.g-header{
  width:768px;
  height:50px;
  padding:5px 15px;
  background-color:#21cdb2;
}

@media (max-width: 768px)
.g-content{

}

@media (max-width: 768px)
.g-ft{

}
